body {
    margin: 0;
    padding: 0;
    background: #111111;
}

.App {
    height: 100vh;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.navigation {
    list-style: none;
    margin-top: 0;
}

.navigation .navItem {
    padding: 50px;
}

.navigation .navItem a {
    color: whitesmoke;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.navigation .navItem a:hover {
    color: #ff3f18;
}

.navigation .navItemImage {
    padding: 25px 50px 0px 50px;
}

img {
    width: 30%;
    height: auto;
}

.welcome {
    font-family: "Courier New", Courier, monospace;
    color: #ff3f18;
    padding-top: 50px;
}

p {
    line-height: 30px;
}

a {
    text-decoration: none;
}
